body{
        background-color:rgb(162, 156, 244);
}
button{
        height: 60px;
        width:200px;
        margin: 0 35px;
        border-radius: 50px;
        border: none;
        outline: none;
        background: #111;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2pszx;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        
}
#but {
        height: 100vh; /* Adjust this as needed */
        text-align: center;
}
button:hover{
        background: linear-gradient(90deg,rgb(181, 163, 255),white,rgb(181, 163, 255));
        background-size: 400%;
        color: rgb(28, 28, 28)
}
button:hover{
        z-index:1;
        animation: glow 8s linear infinite;
}
@keyframes glow {
        0%{
          background-position: 0%;
        }
        100%{
          background-position: 400%;
        }
}
      